services:
  - type: web
    name: pegagol
    runtime: node
    plan: free
    buildCommand: npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        value: file:./dev.db
      - key: NPM_CONFIG_PRODUCTION
        value: "false"
      - key: NODE_VERSION
        value: "20"
